body{
  margin: 0;
  color:#545454;
  font-size: 18px;
  font-family: 'Signika Negative', sans-serif;
}
header,main,footer{
  width:1000px;
  max-width:100%;
  margin:50px auto;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-size:60px;
  margin-bottom: 10px;
}
header p{
  margin: 0;
  font-size: 14px;
  color: #e5c5d0;
  font-weight: bold;
  text-transform: uppercase;
}
header img{
  display: block;
  margin-right: 200px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.header-foto{
  position: relative;
}
header .header-foto::before{
  content:"";
  display: block;
  width: 180px;
  height: 130px;
  background-color: #e5c5d0;
  position: absolute;
  top:10px;
  left: -100px;
  z-index: -1;
}
h2{
  color:#e5c5d0;
  text-transform: uppercase;
}
main{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
main div{
  margin:0 20px;
  width: calc(50% - 40px);
}
main .code-example{
  width: calc(100% - 40px);
}
main code{
  margin: 0;
}
main li{
  margin-bottom: 10px;
}
footer{
  height: 100px;
  background-color: #e5c5d0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
}
footer a{
  text-decoration: none;
  color:black;
}
footer img{
  display: block;
  width: 200px;
  height: 100px;
}
@media (max-width:920px) {
  main .code-example{
    font-size: 14px;
  }
  header img{
    margin-right: 100px;
  }

}
@media (max-width:721px) {
  main .code-example{
    font-size: 12px;
  }
  header img{
    margin-right: 50px;
  }
}
@media (max-width:624px) {
  header h1{
    font-size: 40px;
  }
  main{
    flex-direction: column;
  }
  main div{
    width: calc(100% - 40px);
  }
  main .code-example{
    font-size: 10px;
  }
  main pre{
    white-space: pre-wrap;
  }
  header img{
    margin-right: 50px;
  }
  footer{
    height: 150px;
  }
  footer img{
    width: 100px;
  }
}
